html {
  font-size: 12px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: 'Open Sans', sans-serif; /* this should be the rest of the output you got from Google fonts */
}

body {
  background: lightgray;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: black;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
}

img {
  /* width: 80%;
  margin: 1% 10% 1% 10%; */
  /* both above and below center the image  */
  display: block;
  margin: 1% auto;
  border: 5px solid darkgrey;
}

.tomb-img {
  /* background-color: #657873; */
  background-color: #d0f2dd;
}

.durga-img {
  /* background-color: #5b84b3; */
  /* background-color: #6897cc; favorite so far!*/
  /* this is an acceptable option */
  background-color: #c2deff;
}

.flowers-img {
  background-color: #992b2b;
}
